@*@using SparkAutoFinalProject.Models*@
@*@model SparkAutoFinalProject.Models.ApplicationUser*@
@using SparkAutoFinalProject
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @*<img src="~/css/images/car-engine.png" />Spark*@
                    <i style="color:white; font-weight:bold;" class="fa fa-car"> Spark</i>
                </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                      <partial name="_LoginPartial" />
                      <ul class="navbar-nav flex-grow-1">
                          @if (User.Identity.IsAuthenticated != false)
                          {


                              @if (User.Identity.Name == "amisha@gmail.com" || User.Identity.Name=="lavanya@gmail.com")
                              {
                                  <li class="nav-item">
                                      <a class="nav-link text-white" style="font-weight: bold;" asp-area="" asp-controller="ServiceTypes" asp-action="GetServiceType">Service Type</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link text-white" style="font-weight: bold;" asp-area="" asp-controller="Customer" asp-action="GetCustomerDetails">Users</a>
                                  </li>


                              }
                              else
                              {
                                  <li class="nav-item">
                                      <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="CustomerPage">Cars</a>
                                  </li>

                              }


                          }
                      </ul>

                  </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Spark <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
